header {
    background-color: white;
    color: black;
}

.navbar {
    background-color: white;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: black;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}

.container {
    margin-top: 20px;
}

.status-container {
    margin-bottom: 20px;
}


.status-container label {
    font-weight: bold;
}

.status-container span {
    font-size: 1.2rem;
    color: #007bff;
}

@media (max-width: 768px) {
    .status-container {
        width: 100%;
        height: auto;
    }
}

/* Separate class for header container */
.header-container {
    max-width: 100%;
}

/* Separate class for main content container */
.main-container {
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

/* Media query example */
@media (max-width: 768px) {
    .main-container {
        max-width: 100%;
    }
}

