/* contact.css */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

header h1 {
    margin: 0;
    text-align: center;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.sign-out {
    text-align: right;
}
@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .footer-buttons .btn {
        width: 100%; /* Make footer buttons full-width on small screens */
        margin-bottom: 5px;
    }
}

.signout-btn {
    color: #dc3545;
}

.contact-page {
    padding: 20px;
}

.contact-form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.alert {
    margin-bottom: 20px;
}
.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}