/* Style header */
header {
    background-color: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h4 {
    font-weight: bold;
    margin: 0;
}

/* Style the navbar */
.navbar {
    background-color: white;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: black;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}

/* Main content styling */
.container {
    margin-top: 20px;
}

#banner {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

#banner h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#banner p {
    font-size: 1.2rem;
    color: #6c757d;
}

/* Footer styling */
footer {
    background-color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px; /* Reduced height */
    position: relative;
    bottom: 0;
}

.footer-buttons .btn {
    margin: 10px;
    padding: 8px 12px; /* Reduced padding */
    background-color: #007bff; /* Blue background color */
    color: white;
    border: none;
}

.footer-buttons .btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Ensure the main content takes up the remaining space */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .footer-buttons .btn {
        width: 100%; /* Make footer buttons full-width on small screens */
        margin-bottom: 5px;
    }
}
