body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.gradient-header {
    background: linear-gradient(90deg, #f8f9fa, #dcdcdc); /* Gradient from light to dark white */
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; /* Dark white color */
}

.btn-block {
    padding: 15px;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #000; /* Change to black on hover */
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    margin-top: auto; /* Push footer to the bottom */
}

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .footer-buttons .btn {
        width: 100%; /* Make footer buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .container {
        max-width: 100%; /* Ensure container takes full width on mobile */
        padding: 15px; /* Add padding to the container */
    }
    header, footer {
        padding: 10px 0; /* Adjust padding for header and footer */
    }
}
