body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

.btn-outline-danger, .btn-outline-primary, .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.btn-outline-danger i, .btn-outline-primary i, .btn-primary i {
    font-size: 1.2rem;
}

.alert-danger {
    display: none;
}

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .footer-buttons .btn {
        width: 100%; /* Make footer buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .form-control {
        font-size: 1.2rem; /* Increase font size */
        padding: 12px; /* Increase padding */
    }
    .btn {
        font-size: 1.2rem; /* Increase button font size */
        padding: 12px 20px; /* Increase button padding */
    }
    .container {
        max-width: 100%; /* Ensure container takes full width on mobile */
        padding: 15px; /* Add padding to the container */
    }
    header, footer {
        padding: 10px 0; /* Adjust padding for header and footer */
    }
}
