header {
    background-color: white;
    color: black;
}

.navbar {
    background-color: white;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: black;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.chart {
    margin-bottom: 20px;
}

.x-axis-label, .y-axis-label {
    font-size: 12px;
}

.line-hands-washed {
    stroke: blue;  /* Changed color to blue */
}

.line-water-dispensed {
    stroke: green;  /* Keeping the color as green */
}

@media (max-width: 768px) {
    .chart {
        width: 100%;
        height: auto;
    }
}
.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}
