/* Style header */
header {
    background-color: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h4 {
    font-weight: bold;
    margin: 0;
}

/* Style the navbar */
.navbar {
    background-color: white;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: black;
}

.navbar .nav-link.active {
    font-weight: bold;
}

.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}

/* Main content styling */
.container {
    margin-top: 20px;
}

.table-wrapper {
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .thead-light th {
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

/* Button styling */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Message styling */
.alert-info .message {
    color: #007bff; /* Blue color for messages */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
}
