/* user_profile.css */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

header h4 {
    margin: 0;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff;
}

.sign-out {
    text-align: right;
}

.signout-btn {
    color: #dc3545;
}
.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}
.profile-picture {
    max-width: 100px; /* Reduced size */
    border-radius: 50%;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages .alert {
    margin-bottom: 0;
}

/* Form styling */
.form-group label {
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button[type="submit"] {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.button-container .btn {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.button-container .btn:hover {
    background-color: #5a6268;
    border-color: #545b62;
}
@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .footer-buttons .btn {
        width: 100%; /* Make footer buttons full-width on small screens */
        margin-bottom: 5px;
    }
}