/* view_profile.css */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

header h4 {
    margin: 0;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff;
}
.navbar .btn-outline-danger {
    padding: 3px 8px;  /* Reduced padding for smaller button size */
    font-size: 0.875rem;  /* Smaller font size */
    border-width: 1px;  /* Thinner border */
}

.navbar .btn-outline-danger:hover {
    background-color: blue;
    color: white;
}

.sign-out {
    text-align: right;
}

.signout-btn {
    color: #dc3545;
}

.profile-picture {
    max-width: 100px; /* Consistent size */
    border-radius: 50%;
}

.profile-details p {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
@media (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
        align-items: start;
    }
    .btn {
        width: 100%; /* Make buttons full-width on small screens */
        margin-bottom: 5px;
    }
    .footer-buttons .btn {
        width: 100%; /* Make footer buttons full-width on small screens */
        margin-bottom: 5px;
    }
}